/* Feel free to remove these styles or customise in your own stylesheet 👍 */
.attribution {
    font-size: 11px;
    text-align: center;
    font-weight: bold;
  }
  .attribution a {
    color: hsl(64, 100%, 50%);
  }

@media (max-width: 1120px) {
  .attribution {
    margin-top: 90px;
  }
}